@import url(https://fonts.googleapis.com/css?family=Montserrat);

.content, .down, .footer, .icons-header, .project-link, .user, .user-details {
  text-align: center;
}
.content .link, a, a:hover, a:focus, .project-link {
  text-decoration: none;
}
body {
  font-family: Montserrat, sans-serif;
}

@-webkit-keyframes pulse {
  0%, to {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: .4;
  top: 0;
  }
  50% {
      -ms-filter: none;
      -webkit-filter: none;
      filter: none;
      opacity: 1;
      top: -10px;
  }
}
@keyframes pulse {
  0%, to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: .4;
    top: 0;
  }
  50% {
      -ms-filter: none;
      -webkit-filter: none;
      filter: none;
      opacity: 1;
      top: -10px;
  }
}

/**** 내용부분 *****/

/* about */
#about, #archive {
  position:relative;
  padding-top:100px;
}

#about .down {
    color: #000;
}
#about .down .icon {
    height: 8px;
}
.down .icon:active, .down .icon:hover, .footer a:active, .footer a:hover {
    color: #4b5664;
}
.user {
    margin: 20px auto;
    font-size: 60px;
}
.user p {
    font-size: 16px;
}

/* project */
#projects {
  background-color: #f8eded;
  padding-top:100px;
}
/*********/

@media only screen and (min-width:768px) {
    .user {
    font-size: 75px;
	}
	.images {
	    float: right;
	}
}
.user-details {
    font-size: 16px;
    /* margin: 10px auto; */
}
.user-projects {
    margin: 40px auto;
}
.user-projects img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.user-projects h5, body {
    margin: 0;
}
.user-projects li {
    color: #1a222c;
    font-size: 1.1rem;
}
.user-projects p {
    margin-right: 5px;
}
.project-link {
    width: 100px;
    margin: 10px 0;
    padding: 5px;
    color: #1a222c;
    background-color: transparent;
    border: 1px solid #1a222c;
    border-radius: 10px;
    outline: 0;
    transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out;
    box-sizing: initial;
}
.project-link:active, .project-link:hover {
    background-color: #54516a;
    border-color: #54516a;
    color: #fff;
    transition: color .3s ease-in, background-color .3s ease-in, border-color .3s ease-in;
}
