body {background-color: black;color: white}
h1, h2, h3, h4, h5, h6 {
    color: white;
}
code, pre {
    background-color: #515151;
}
code {
    color: #ff79c6;
}
tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
    background-color: #483737;
}
