<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/poole.css">
    <link rel="stylesheet" href="/assets/css/lanyon.css">
  </head>
  
  <body class="theme-base-08">
  <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">DevL</a>
            <a href="/archive"><small>Archive</small></a>
            <a href="/tags"><small>Tags</small></a>
          </h3>
        </div>
      </div>

      <div class="container content">
        <div class="page">
          {{ content }}
        </div>
      </div>
    </div>
  </body>

</html>