<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    
    <meta name="description" content="{{ page.title }},{% if post %}{% assign tags = post.tags %}{% else %}{% assign tags = page.tags %}{% endif %}{% for tag in tags %}{{tag}}{% unless forloop.last %},{% endunless %}{% endfor %}">
	<meta name="keywords" content="IT" />
	<meta name="author" content="Joel Weon" />
	
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108360883-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-108360883-1');
    </script>
    <!-- Google AdSense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-3395153995978500",
	    enable_page_level_ads: true
	  });
	</script>
	
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/poole.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link rel="stylesheet" href="/assets/css/lanyon.css">
  </head>
  
  <body class="theme-base-08">
  <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">DevL</a>
            <a href="/archive"><small>Archive</small></a>
            <a href="/tags"><small>Tags</small></a>
          </h3>
        </div>
      </div>

      <div class="container content">
        <div class="page">
          {{ content }}
        </div>
      </div>
    </div>
  </body>

</html>